*, *::before, *::after {
    font-family: 'Open Sans', sans-serif;
}

*{
    --color_btn : #0066FF;
    margin:20;
    padding:20;
    box-sizing: border-box;
}

.card_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: flex-start;

}

.card {
    background-color: white;
    padding: 1rem;
    border: 1px solid #777;
    border-radius: .25rem;
    max-width: 300px;
    overflow: hidden;

}
.card_header {
    font-size: 1.5erm;
    margin-bottom: 1.5erm;
    color:var(--color_btn);
}

.card_image {
    padding: 0;
    overflow: hidden;
}

.card_image > img {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    max-height: 200px;
    object-position: center;
    transition: 200ms transform ease-in-out;
}

.card:hover > .card_image > img {
    transform: scale(1.025);
 }

.card_message {
    font-size: 0.8rem;
}

.card_footer {
    margin-top: 1rem;
    font-size: 1.5erm;
}

.btn {
    color:var(--color_btn);
    border: none;
    padding: .5em .75em;
    border-radius: .25rem;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background-color: var(--color_btn);
    color: white;
}

.btn + .btn {
    margin-left: 0.5rem;
}

h1{
    color:red;
}


.full-page{
    height:100%;
    width:100%;
    background-color: #f2f2f2;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.navbar{
    display:flex;
    align-items: center;
    padding:20px;
    padding-left:50px;
    padding-right:30px;
    padding-top:50px;
}

nav{
    flex:1;
    text-align: right;
}

nav ul{
    display:inline-block;
    list-style:none;
}

nav ul li{
    display:inline-block;
    margin-right:70px;
}

nav ul li a{
    text-decoration:none;
    color:#0066FF;
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul li button {
    
    color:#0066FF;
    font-size:20px;
    border:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 12px;
    display: inline-block;
    cursor: pointer;
    width: 150px
}

nav ul li button:hover {
    background-color: #0066FF;
    color: white;
}



