*, *::before, *::after {
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: right;
    z-index: 999;
    margin-right: 5mm;
}

*{
    --color_items : #0066FF;
    margin:20;
    padding:20;
    box-sizing: border-box;
}

.card_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: flex-start;

}

.card {
    background-color: white;
    padding: 1rem;
    border: 1px solid #777;
    border-radius: .25rem;
    max-width: 300px;
    overflow: hidden;

}
.card_header {
    font-size: 1.5erm;
    margin-bottom: 1.5erm;
    color:var(--color_items);
}

.card_image {
    padding: 0;
    overflow: hidden;
}

.card_image > img {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    max-height: 200px;
    object-position: center;
    transition: 200ms transform ease-in-out;
}

.card:hover > .card_image > img {
    transform: scale(1.025);
 }

.card_message {
    font-size: 0.8rem;
}

.card_footer {
    margin-top: 1rem;
    font-size: 1.5erm;
}

.btn {
    color:var(--color_items);
    border: none;
    padding: .5em .75em;
    border-radius: .25rem;
    cursor: pointer;
    text-decoration: underline;
    display:inline-block;
}

.btn:hover, .btn:focus {
    background-color: var(--color_items);
    color: white;
}

.btn + .btn {
    margin-left: 0.5rem;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: var(--color_items);
    flex-wrap: wrap;
}

.nav a {
    opacity: 1;
    position: relative;
}

.brand_title {
    margin: .5rem;
    height: fit-content;
    width: fit-content;
}

.nav_links ul {
    margin: 0;
    padding: 0;
    display: flex;
}


.nav_links li {
    list-style: none;
}

.nav_links li a {
    text-decoration: none;
    color: var(--color_items);
    padding: 3rem;
    display: block;
}

.nav_links li:hover {
    color: antiquewhite;
    font-weight: bold;
}

.button_navbar {
    background-color: var(--color_items);
    color: white;
    font-size: medium;
    border:none;
    display: inline-block;
    cursor: pointer;
    padding: .5em .75em;
    border-radius: .25rem;
    margin-top: 2.45em;
}


.button_navbar:hover {
    background-color: var(--color_items);
    color: white;
    text-decoration: underline;
    transition: 0.5s;
    border-color: #0066FF;
}

.buscar {
    width: 130px;
    box-sizing: content-box;
    border: 2px solid transparent;
    border-radius: 4px;
    border-bottom: 2px solid var(--color_items);
    font-size: 16px;
    background-color: white;
    background-image: url(../resources/images/search_icon.JPG); 
    background-repeat: no-repeat;
    color: var(--color_items);
}

::placeholder { 
    color: var(--color_items);
}

.buscar:hover {
    color: antiquewhite;
    font-weight: bold;
}


.grid_container_p{
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 1% auto;
    list-style: none;
}
.caja_grid {
    color: var(--color_items);
    display: block;
    background-color: white;
    margin: 30px;
    margin-left: 0px;
    height: auto;
    text-align: center;
}


@media only screen and (max-width: 600px) {
    .caja_grid{
        width: 90%;
    }
}

.top_text {
    font-size: 50px;
    font-weight: bold;
}

.medium_text {
    font-size: 25px;
    font-weight: bold;
}

.small_text {
    font-size: 18px;
    font-weight: lighter;
}

.grid_container_c {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 50px; 
    grid-gap: 10px;
    padding: 0;
    margin: 1% auto;
    list-style: none;
}

.footer {
    background-color: white;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: var(--color_items);
    text-align: center;
    justify-content: center;
}

.footer_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.caja_flex {
    background-color:white;
    text-decoration: none;
    justify-content: center;
    margin: 0 5px;
}

.footer h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer p {
    font-size: 12px;
    font-weight: lighter;
}

.redes {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.redes li {
    margin: 0 5px;
}
.redes a {
    text-decoration: none;
}

.login_bg_container {
    margin:0;
    padding:0;
    background-image: url(../resources/images/Login_bg.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.center {
    position: absolute;
    top: 30%;
    left: 32%;
}

.center h1 {
    text-align: center;
    border-bottom: 1px;
    font-size: 50px;
    font-weight: bold;
    color: var(--color_items);
}

.center form {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

.text_field {
    position: relative;
    padding-bottom: 5%;
}

.text_field input {
    display: inline-block;
    border: none;
    border-bottom: 1px solid var(--color_items);
    background-color: transparent;
    outline: none;
    font-size: 18px;
    font-weight:lighter;
    color: var(--color_items);
    padding: 0;
    margin: 0;
    width: 60%;
}

.text_field_nom_ape {
    position: relative;
    padding-bottom: 5%;
}
.text_field_nom_ape input {
    display: inline-block;
    border: none;
    border-bottom: 1px solid var(--color_items);
    background-color: transparent;
    outline: none;
    font-size: 18px;
    font-weight:lighter;
    color: var(--color_items);
    padding: 0;
    margin: 0;
}

.registrate_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
}

.registrate_link a {
    text-decoration: none;
    color: var(--color_items);
}

.condiciones {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: var(--color_items);
}

.condiciones:hover {
    text-decoration: underline;
    transition: 0.5s;
}

.registrate_link a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

.signup_bg_container {
    margin: 0;
    padding: 0;
    background-image: url(../resources/images/Registro_bg.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.rbtn {
    display: block;
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
    padding-left: 50px;
}

.radio_button_signup {
    color: var(--color_items);
    display: inline-block;
    align-items: left;
}